<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mapper.DeviceMapper">
    <resultMap id="baseMap" type="device">
        <result column="device_id" property="deviceId"/>
        <result column="device_name" property="deviceName"/>
        <result column="device_type_name" property="deviceTypeName"/>
        <result column="device_status_id" property="deviceStatusId"/>
        <result column="device_status" property="deviceStatus"/>
        <result column="device_purchase_date" property="devicePurchaseDate"/>
        <result column="device_purchase_price" property="devicePurchasePrice"/>
        <result column="device_manufacture_date" property="deviceManufactureDate"/>
        <result column="device_service_life" property="deviceServiceLife"/>
        <result column="emp_name" property="deviceKeeper"/>
        <result column="note" property="note"/>
    </resultMap>



    <sql id="baseSql">
        select d.device_id,d.device_name,d.device_type_id,dt.device_type_name,d.device_status,d.device_status_id,d.device_purchase_date,d.device_purchase_price,
              d.device_manufacture_date,d.device_service_life,emp.emp_name,d.note
             from device d
             left join device_type dt on d.device_type_id = dt.device_type_id
             left join employee emp on d.device_keeper_id = emp.emp_id
    </sql>

    <select id="queryDeviceList" resultMap="baseMap">
        <include refid="baseSql"/>
    </select>

    <select id="queryDeviceByDeviceId" resultMap="baseMap">
        <include refid="baseSql"/>
          where device_id=#{deviceId}
    </select>

    <select id="queryDeviceByDeviceName" resultMap="baseMap">
        <include refid="baseSql"/>
        where device_name=#{deviceName}
    </select>

    <select id="queryDeviceByDeviceTypeName" resultMap="baseMap">
        <include refid="baseSql"/>
        where device_type_name=#{deviceTypeName}
    </select>

    <insert id="insertDevice" parameterType="Device">
        insert into device (device_id,device_name,device_type_id,device_status_id,device_status,device_purchase_date,device_purchase_price,
              device_manufacture_date,device_service_life,device_kepper_id,note)
        values (device.deviceId,device.deviceName,device.deviceTypeId,device.deviceStatusId,device.deviceStatus,device.devicePurchaseDate,
                device.devicePurchasePrice,device.deviceManufactureDate,device.deviceServiceLife,device.deviceKeeperId,device.note)
    </insert>




</mapper>