<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mapper.MaterialReceiveMapper">
    <resultMap id="baseMap" type="materialReceive">
        <result property="receiveId" column="receive_id"/>
        <result property="receiveDate" column="receive_date"/>
        <result property="sender" column="sender"/>
        <result property="receiver" column="receiver"/>
        <result property="note" column="mrnote"/>
        <result property="amount" column="amount"/>
        <association property="material" javaType="materialMessage">
            <result column="material_id" property="materialId"/>
            <result column="material_type" property="materialType"/>
            <result column="status" property="status"/>
            <result column="remaining" property="remaining"/>
            <result column="mnote" property="note"/>
        </association>
    </resultMap>
    <select id="queryAllMaterialReceive" resultMap="baseMap">
      select receive_id,receive_date,receiver,mr.note as mrnote,sender,m.note as mnote,amount,m.material_id,material_type,status,remaining
          from material_receive as mr INNER JOIN material as m
    </select>

    <delete id="deleteById">
        delete from material_receive
        <choose>
            <when test="ids!=null">
                <where>
                    receive_id in
                    <foreach collection="ids" item="item" open="(" close=")" separator=",">
                        #{item}
                    </foreach>
                </where>
            </when>
        </choose>
    </delete>

    <insert id="insertmaterialReceive">
        INSERT INTO material_receive (receive_id,material_id,amount,receive_date,sender,receiver,note)
            values (#{mr.receiveId},#{id},#{mr.amount},#{mr.receiveDate},#{mr.sender},#{mr.receiver},#{mr.note})
    </insert>

    <update id="materialReceiveUpdateAll">
        update material_receive
        <set>
                receive_id = #{mr.receiveId},
            <if test="id != null">
                material_id = #{id},
            </if>
            <if test="mr.amount != null">
                amount = #{mr.amount},
            </if>
            <if test="mr.receiveDate != null">
                receive_date = #{mr.receiveDate},
            </if>
            <if test="mr.sender!= null">
                sender = #{mr.sender},
            </if>
            <if test="mr.receiver!= null">
                receiver = #{mr.receiver},
            </if>
            <if test="mr.note!= null">
                note = #{mr.note},
            </if>
        </set>
        where material_id = #{materialId}
    </update>


</mapper>