<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cskaoyan.mapper.TechnologyPlanMapper">
    <resultMap id="BaseResultMap" type="com.cskaoyan.bean.TechnologyPlan">
        <id column="technology_plan_id" property="technologyPlanId"/>
        <result column="technology_id" property="technologyId"/>
        <result column="batch_amount" property="batchAmount"/>
        <result column="start_plan" property="startPlan"/>
        <result column="end_plan" property="endPlan"/>
        <result column="commit_plan" property="commitPlan"/>
        <result column="technology_plan_start" property="technologyPlanStart"/>
        <result column="technology_plan_end" property="technologyPlanEnd"/>
        <result column="technology_name" property="technologyName"/>
    </resultMap>
    <sql id="Base_Column_List">
        technology_plan_id,
        technology_id,
        batch_amount,
        start_plan,
        end_plan,
        commit_plan,
        technology_plan_start,
        technology_plan_end
    </sql>

    <!--查询所有工艺计划-->
    <select id="selectToTalTechnologyPlan" resultMap="BaseResultMap">
        select
			technology_plan_id,
			technology_name,
			a.technology_id,
            batch_amount,
            start_plan,
            end_plan,
            commit_plan,
            technology_plan_start,
            technology_plan_end
		from technology_plan a,technology b
		where a.technology_id = b.technology_id
    </select>

    <!--分页查询工艺计划列表-->
    <select id="selectAllTechnologyPlan" resultMap="BaseResultMap">
        select
			technology_name,
			technology_plan_id,
			a.technology_id,
            batch_amount,
            start_plan,
            end_plan,
            commit_plan,
            technology_plan_start,
            technology_plan_end
		from technology_plan a,technology b
		where a.technology_id = b.technology_id
        limit #{rows} offset #{offset}
    </select>

    <select id="selectCountTechnologyPlan" resultType="integer">
        select count(*) from technology_plan
    </select>

    <!--根据Id更新某个工艺计划-->
    <select id="updateAllByTechnologyPlanId" parameterType="com.cskaoyan.bean.TechnologyPlan">
        update technology_plan
        set
            technology_id = #{technologyId},
            batch_amount = #{batchAmount},
            start_plan = #{startPlan},
            end_plan = #{endPlan},
            commit_plan = #{commitPlan},
            technology_plan_start = #{technologyPlanStart},
            technology_plan_end = #{technologyPlanEnd}
          where technology_plan_id = #{technologyPlanId}
    </select>

    <!--添加-->
    <select id="insert"  parameterType="com.cskaoyan.bean.TechnologyPlan">
        insert into technology_plan (<include refid="Base_Column_List"/>)
        values (#{technologyPlanId},#{technologyId},#{batchAmount},#{startPlan},#{endPlan},#{commitPlan},#{technologyPlanStart},#{technologyPlanEnd})
    </select>

    <!--批量删除-->
     <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
      delete from technology_plan
          where technology_plan_id = #{technologyPlanId}
    </delete>

    <select id="selectCountTechnologyPlanByCondition" resultType="integer">
        <if test="technologyPlan.technologyPlanId != null">
            select count(*) from technology_plan
              where technology_plan_id like #{technologyPlan.technologyPlanId}
        </if>
        <if test="technologyPlan.technologyName != null">
            select count(*) from technology_plan a,technology b
            where a.technology_id = b.technology_id and technology_name like #{technologyPlan.technologyName}
        </if>
    </select>

    <select id="searchTechnologyPlanByCondition" resultMap="BaseResultMap">
        select
            technology_plan_id,
            technology_name,
            a.technology_id,
            batch_amount,
            start_plan,
            end_plan,
            commit_plan,
            technology_plan_start,
            technology_plan_end
        from technology_plan a,technology b
        <where>
            a.technology_id = b.technology_id
            <if test="technologyPlan.technologyPlanId != null">
                and technology_plan_id like #{technologyPlan.technologyPlanId}
            </if>
            <if test="technologyPlan.technologyName != null">
                and technology_name like #{technologyPlan.technologyName}
            </if>
        </where>
        limit #{rows} offset #{offset}
    </select>

</mapper>